.homeHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #393e46;
  width: 100%;
  height: 50px;
}

.homeHeader_title li {
  color: #ffd369;
  list-style-type: none;
  margin-left: 150px;
}
.homeHeader_options {
  color: #ffd369;
  list-style-type: none;
  display: flex;
}

.homeHeader_options li {
  margin-right: 75px;
}
a {
  color: inherit;
  text-decoration: none;
}
